{{#bubble-box}}
  <div class="jumbotron jumbotron-index">
    <h2>
      &quot;Tank&quot; stock of your tank<br />
      <small>
        And add peace of mind, fine control, and knowledge to your aquarium
      </small>
    </h2>
  </div>
{{/bubble-box}}

<div class="callout text-center">
  See what you think and use it in your home for free. {{#link-to 'index'}}Sign up now <i class="fa fa-angle-double-right"></i>{{/link-to}}
</div>

<ul class="features">
  <li class="feature">
    <h2><i class="fa fa-fw fa-flask"></i></h2>
    <h1 class="feature-heading">Parameters</h1>
    <p class="feature-body">
      Water parameters are important for keeping your livestock alive and well. Without good water parameters, livestock either suffer or don't make it at all. Water parameters are even more important for reef systems. TankStock allows you to enter water parameter data or pull in your Neptune Apex data. Did we mention that you can do it from anywhere?
    </p>
  </li>

  <li class="feature">
    <h2><i class="fa pull-right fa-fw fa-area-chart"></i></h2>
    <h1 class="feature-heading">Metrics</h1>
    <p class="feature-body">
      TankStock gives you smart metrics for tracking parameters, events, and more. Visualizing your tank in a whole new way allows you to predict and prevent problems before they arise. We'll alert you when your parameters aren't what they should be and which livestock will be most sensitive to the issue.
    </p>
  </li>

  <li class="feature">
    <h2><i class="fa fa-fw fa-edit"></i></h2>
    <h1 class="feature-heading">Notes &amp; events</h1>
    <p class="feature-body">
      Notes and events are two other great features that come with TankStock. Notes allow you to track issue resolution, collaborate with other users, and remind yourself of important things to monitor. Events are just as great, allowing you see correlations between parameters and events, and other changes to your tank.
    </p>
  </li>
</ul>

<hr />

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    {{parameter-calculator}}
  </div>
  <div class="col-md-3"></div>
</div>
